{% for user in users %}
<tr id="user{{ user['id'] }}_tr">
    <td>{{ user['username'] }}</td>
    <td>{{ user['display_name'] }}</td>
    <td>{{ user['email'] }}</td>
    <td>{{ user['timezone'] }}</td>
    <td>{{ user['display_language'] }}</td>
    <td>{{ user['access_enabled'] }}</td>
    <td>
        <a class="btn btn-sm btn-a smooth" hx-get="{{ url_for('user.edit', id=user['id']) }}" hx-target="#content_body">Edit</a>
        {% if user['username'] != g.user['username'] %}
        {% if user['access_enabled'] == 'Y' %}
        <a class="btn btn-sm btn-c smooth" hx-post="{{ url_for('user.disable', id=user['id']) }}" hx-target="#user{{ user['id'] }}_tr"
            hx-swap="outerHTML">Disable</a>
        {% else %}
        <a class="btn btn-sm btn-b smooth" hx-post="{{ url_for('user.enable', id=user['id']) }}" hx-target="#user{{ user['id'] }}_tr"
            hx-swap="outerHTML">Enable</a>
        {% endif %}
        {% endif %}
    </td>
</tr>
{% endfor %}