<div>
    <ul>
    {% for author in authors %}
        <li>{{ author['name'] }} <a hx-post="{{ url_for('content.delete_author', id=author['id']) }}" hx-target="#content_body">Delete</a></li>
    {% endfor %}
    </ul>
</div>
<div>
    <form hx-post="{{ url_for('content.authors') }}" hx-target="#content_body">
        <label for="author-name">Name</label>
        <input id="author-name" name="name" placeholder="Enter the name of the author"></input>
        <button type="submit">Submit</button>
    </form>
</div>