{% extends 'base.html' %}

{% block title %}Manage Content{% endblock %}

{% block header %}
<nav>
    <h1>Manage Content</h1>
    <ul>
        {% for type in types.keys() %}
        <li><a hx-get="{{ url_for(type+'.index') }}" hx-target="#content_body"
                hx-push-url="{{ url_for('content.content', type=type) }}">{{types[type]}}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endblock %}

{% block content %}
<div id="content_body">
    {% if not type %}
    Placeholder
    {% else %}
    <div hx-target="#content_body" hx-trigger="load" hx-get="{{ url_for(type+'.index') }}"></div>
    {% endif %}
</div>
{% endblock %}