{% for msg in get_flashed_messages() %}
<div class="flash">{{ msg }}</div>
{% endfor %}
<div id="content_body">
    <form>
        <label for="source-title">Title</label>
        <input id="source-title" name="title" placeholder="Enter the title of the source"></input>
        <label for="source-author">Author</label>
        <select id="source-author" name="authorid">
            <option value="" disabled selected>Select an author</option>
            {% for author in authors %}
            <option value="{{author['id']}}">{{ author["display_name"] }}</option>
            {% endfor %}
        </select>
        <button type="submit" hx-post="{{ url_for('source.create') }}" hx-target="#content_body">Submit</button>
        <button type="cancel" hx-get="{{ url_for('source.index') }}" hx-target="#content_body">Cancel</button>
    </form>
</div>