{% extends 'base.html' %}

{% block title %}Manage Content{% endblock %}

{% block header %}
<nav class="nav">
    <div class="container">
        <span style="padding-right: 1em;"></span>
        {% for t in types.keys() %}
        <a href="{{ url_for('content.index', type=t) }}" 
            {% if type == t %}class="current"{% endif %}>{{types[t]}}</a>
        {% endfor %}
    </div>
</nav>
{% endblock %}

{% block content %}
<div>
    <div style="position: relative; float: right;">
        <span class="htmx-indicator">
            Searching...
        </span>
        <span class="smooth"> Filter:</span>
        <input class="smooth" type="text" name="search"
            placeholder="Begin typing To filter..." hx-post="/{{ type }}/search"
            hx-trigger="input changed delay:500ms, search" hx-target="#search-results" hx-indicator=".htmx-indicator">
    </div>
    <div id="content_body" hx-target="#content_body" hx-trigger="load" hx-get="{{ url_for(type+'.index') }}"></div>
</div>
{% endblock %}