<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mkth0</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <header>
        <div class="header-test">MKTH0
        {% block header %}
        {% endblock %}
        <a href="/">Welcome</a>
        <a href="/home">Home Page</a>
        <a href="/sources">Sources</a>
        {% if session["username"] %}
        <a href="/logout">Log out</a>
        {% else %}
        <a href="/login">Log in</a>
        {% endif %}
        </div>
    </header>
    <div>
        {% for msg in get_flashed_messages() %}
        <div>{{ msg }}</div>
        {% endfor %}
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>