{% extends "base.html" %}

{% block header %}
<div>Login Page</div>
{% endblock %}

{% block content %}
{% if session["username"] %}
    <div>You are already logged in, {{ username }}</div>
    <a href="/logout">Log Out</a>
{% else %}
<form method="POST" action=".">
    <div>
        <label for="username">Username</label>
        <input id="username" name="username" placeholder="Enter your username"></input>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password"></input>
        <input type="hidden" id="tourl" name="tourl" value="{{ tourl }}">
    </div>
    <button type="submit">Log in</button>
</form>
{% endif %}
{% endblock %}